<% @page_title = "Create Event" %>


<div class="event new panel panel-default">
  <div class='panel-heading'><h1>
  <%= @page_title %> <%= link_to("&laquo; Back to List".html_safe, staff_events_path, :class => 'back-link pull-right') %>
</h1></div>

  <div class='panel-body'>
    <%= form_for([:staff, @event]) do |f| %>
      <%= render(:partial => "form", :locals => {:f => f}) %>
        <div class="form-actions">
          <%= submit_tag("Create Event", class: 'btn btn-primary') %>
          <%= cancel_button(staff_events_path, class: 'btn btn-primary') %>
        </div>
    <% end %>
  </div>
</div>
