<% @page_title = "Event #{@event.name}" %>


<div class="event new panel panel-default">
  <div class='panel-heading'><h1>
  <%= @page_title %> <%= link_to("&laquo; Back to List".html_safe, staff_events_path, :class => 'btn btn-primary btn-lg back-link pull-right hidden-sm hidden-xs') %>
  </h1>
  <%= link_to("&laquo; Back to List".html_safe, staff_events_path, :class => 'btn btn-primary btn-lg back-link hidden-md hidden-lg') %>

</div>

  <div class='panel-body'>
   <p><%= @event.name %></p>
   <p>Created By: <%=link_to  @event.user.username, staff_user_path(@event.user)%></p>
   <p><%= @event.website %></p>
   <p><%= address_string(@event) %></p>
   <p>lfr: <%= @event.lfr_count %></p>
   <p>hr: <%= @event.hr_count %></p>
   <h2>Flagged Listing</h2>
   <ul class='list-group'>
     <% for listing in @flagged_listings %>
     <li id="<%= listing.id %>-listing" class="list-group-item">
     <h2 class='list-group-heading'>
      <%= listing.name %>
        <small class='flag-count'>
          <%= listing.flag_count %>
          <span class="glyphicon glyphicon-flag"></span>
        </small>
      </h2>
      <p>Created By: <%=link_to listing.users.first.username, staff_user_path(listing.users.first) %></p>
      <p class="list-group-item-text">
        <%= listing.description %>
      </p>
      <p>
       <ul>
          <% listing.flags.group_by(&:type_of_flag).each do |k, v| %>
            <li><%= k %> <%= v.count %></li>
          <% end %>
        </ul>
      </p>
      <%= form_tag confirm_flags_staff_listing_path(listing), method: :patch, remote: true do  %>
        <%= label_tag :status, 'Status of flag'  %>
        <%= select_tag :status, options_for_select(Flag::STATUS),  class: 'form-control update-flag-status', include_blank: "Set status of flags" %>
      <% end %>
    </li>
     <% end %>
   </ul>
    <% if @flagged_listings.empty? %>
      <h3>There are no unchecked flagged listings. YAY!</h3>
    <% end %>
  </div>
</div>

<%= content_for :javascript  do %>

  <script type="text/javascript">
  $(document).ready(function(){
      $('.update-flag-status').change(function() {
        console.log($(this))
        if($(this).val()) {
          $(this).parent().submit();
        }
      })
    });
  </script>
<% end %>
