<% @page_title = "Delete User: #{@user.full_name}" %>

<div class="user edit panel panel-default">
  <div class='panel-heading'><h1>
  <%= @page_title %> <%= link_to("&laquo; Back to List".html_safe, staff_users_path, :class => 'back-link pull-right') %>
</h1></div>

  <div class='panel-body'>
    <p>Are you sure you want to <strong>permanently</strong> delete this user?</p>

  <%= form_tag(staff_user_path(@user), :method => :delete) do %>
        <div class="form-actions">
          <%= submit_tag("Update User", class: 'btn btn-primary') %>
          <%= cancel_button(staff_users_path, class: 'btn btn-primary') %>
        </div>
    <% end %>
  </div>
</div>
