<% @page_title = 'Reset Password' %>

<div class="section">

  <div class="column-left">
    <h1 class="page-title">Reset Password</h1>
  </div>

  <div class="column-right">
    <%= render(:partial => 'layouts/flash_messages') %>

    <%= form_for(@member, :url => update_reset_password_path, :method => :patch, :html => {:class => 'take-focus'}) do |f| %>

      <div class="column">
        <%= hidden_field_tag(:token, params[:token]) %>
        <p>Please enter your new password.</p>
        <p>
          <%= label_and_error_tag(f, 'password', "New Password") %>
          <%= f.password_field(:password) %>
        </p>
        <p>
          <%= label_and_error_tag(f, 'password_confirmation', "New Password Confirmation") %>
          <%= f.password_field(:password_confirmation) %>
        </p>
        <p><%= submit_tag('Reset Password', :class => 'large-light-button') %></p>

      </div>

    <% end %>

  </div>

</div>
