<% @page_title = "Staff Log in for #{BRAND}" %>

<section class="panel panel-default">

  <div class="panel-heading">
    <h1 class="page-title"><%= @page_title %></h1>
  </div>

  <div class="panel-body">
    <%= form_tag(staff_access_path, :class => 'take-focus') do %>
     <div class="form-group">
        <%= label_tag :auth_param, 'Email/Username', nil %>
        <%= text_field_tag :auth_param, nil, placeholder: 'Email/Username', class: 'form-control'
        %>
      </div>
      <div class="form-group">
        <%= label_tag :password, nil %>
        <%= password_field_tag :password, nil, class: 'form-control', placeholder: 'Password'
        %>
      </div>
      <div class="form-actions">
        <%= submit_tag("Log In", :class => 'btn btn-primary') %>
      </div>
    <% end %>
  </div>
</section>
