<!DOCTYPE html>
<html>
  <head>
    <title>House</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <%= link_to BRAND, root_path, class: 'navbar-brand', 'data-no-turbolink':"true" %>
        <ul class="nav navbar-nav">
          <li class="<%= 'active' if current_page?(root_path) %>">
            <%= link_to 'listings', root_path, ':data-no-turbolink':"true" %>
          </li>
        </ul>
          <% if @current_user %>
            <div class="collapse navbar-collapse navbar-right" >
              <a href="<%= conversations_path %>" class="btn btn-default navbar-btn mailbox-button ">
                <span class="glyphicon glyphicon-envelope"></span>
                  Inbox
                  <% if  @current_user.mailbox.inbox(unread: true).count > 0 %>
                    <span class="badge">
                      <%= @current_user.mailbox.inbox(unread: true).count %>
                    </span>
                  <% end %>
              </a>
            </div>
          <% else %>
            <ul>
              <li><%= link_to 'Sign Up', signup_path %></li>
              <li><%= link_to 'Log In', login_path %></li>
            </ul>
          <% end %>
      </div>
    </nav>
    <div class="container">
      <%= render(:partial => 'layouts/flash_messages') %>
      <%= yield %>
        <%= javascript_include_tag 'application', defer: Rails.env.production? %>

      <%= yield :javascript %>
    </div>
    <footer class="bd-footer text-muted">
      <div class="container">
        <ul class="bd-footer-links">
          <li><a href="https://github.com/twbs/bootstrap">GitHub</a></li>
          <li><a href="https://twitter.com/getbootstrap">Twitter</a></li>
          <li><a href="/examples/">Examples</a></li>
          <li><a href="/about/history/">About</a></li>
        </ul>
        <p>Designed and built with all the love in the world by <a href="https://twitter.com/mdo" target="_blank">@mdo</a> and <a href="https://twitter.com/fat" target="_blank">@fat</a>. Maintained by the <a href="https://github.com/orgs/twbs/people">core team</a> with the help of <a href="https://github.com/twbs/bootstrap/graphs/contributors">our contributors</a>.</p>
        <p>Currently v4.0.0-alpha.6. Code licensed <a rel="license" href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank">MIT</a>, docs <a rel="license" href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>.</p>
      </div>
    </footer>
  </body>
</html>
