<!DOCTYPE html>
<html>
  <head>
    <title>House</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <%= link_to BRAND, root_path, class: 'navbar-brand', 'data-no-turbolink':"true" %>
        <ul class="nav navbar-nav">
          <li class="<%= 'active' if current_page?(root_path) %>">
            <%= link_to 'listings', root_path, ':data-no-turbolink':"true" %>
          </li>
        </ul>
          <% if @current_user %>
            <div class="collapse navbar-collapse navbar-right" >
              <a href="<%= conversations_path %>" class="btn btn-default navbar-btn mailbox-button ">
                <span class="glyphicon glyphicon-envelope"></span>
                  Inbox
                  <% if  @current_user.mailbox.inbox(unread: true).count > 0 %>
                    <span class="badge">
                      <%= @current_user.mailbox.inbox(unread: true).count %>
                    </span>
                  <% end %>
              </a>
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <small><%= @current_user.username %></small>
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><%= link_to "logout", logout_path, method: :delete %></li>
                </ul>
              </div>
            </div>
          <% else %>
            <ul class="nav navbar-nav navbar-right">
              <li class="<%= 'active' if current_page?(signup_path) %>"><%= link_to 'Sign Up', signup_path %></li>
              <li class="<%= 'active' if current_page?(login_path) %>"><%= link_to 'Log In', login_path %></li>
            </ul>
          <% end %>
      </div>
    </nav>
    <div class="container">
      <%= render(:partial => 'layouts/flash_messages') %>
      <%= yield %>
        <%= javascript_include_tag 'application', defer: Rails.env.production? %>

      <%= yield :javascript %>
    </div>
    <footer class="bd-footer text-muted">
      <div class="container">
        <ul class="bd-footer-links">
          <li><%= link_to 'about', page_path('about') %></li>
        </ul>
        <p>Currently alpha 1 Code licensed MIT <%= Time.now.year %>
      </div>
    </footer>
  </body>
</html>
